<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    
    <% provide(:title, "About") %>
    <div class="container center">
      <div class="row">
      <div class="column1" style="background-color:#aaa;">
        <h2>Column 1</h2>
        <p>Some text..</p>
      </div>
      <div class="column2" style="background-color:#bbb;">
        <h2>Column 2</h2>
        <p>Some text..</p>
      </div>
    </div>
    </div>
    <button id="hide">Hide</button>
    <button id="show">Show</button>
    <script src="../javascripts/test.js"></script>
  </body>
  
  
</html>
