<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    
    <% provide(:title, "About") %>
    <div class="container center">
      <div class="row">
      <div class="column1">
      </div>
      <div class="column2">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente, praesentium, velit. Esse, consequuntur, molestias. Repellendus maiores dolore rerum, quia, eligendi provident quam doloremque quaerat ratione accusantium rem voluptatum iure aperiam! Quasi debitis distinctio ab sed laborum, maxime aut tenetur esse eius eum. Sed necessitatibus modi distinctio totam neque, vel cupiditate animi, odit aliquid corporis explicabo voluptate debitis nemo perspiciatis enim repellendus dolorem doloribus. Iste suscipit minima eum fugit ipsum maiores laborum numquam eius aspernatur incidunt delectus, totam, sequi ducimus possimus.</p>
      </div>
    </div>
    </div>
    <button id="show">Meet The Team</button>
    <button id="again">About Us</button>
    <script src="../javascripts/test.js"></script>
  </body>
  
</html>
