<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>
    
    <% provide(:title, "Home") %>
    <section id="showcase">
        <div class="container">
            <h1 id="greeting"></h1>
            <p id="intro"></p>
        </div>
    </section>
    
    
  <script src="../javascripts/custom.js"></script>
  <script src="../javascripts/greeting.js"></script>
  </body>
  
  
</html>
