body {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  /*can also be done as follows: font: 15px/1.5 Arial, Helvetica, sans-serif*/
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;
}

/*Global */

.container {

  width: 80%;
  margin: auto;
  overflow: hidden;

}

ul {

  margin: 0 0 0 20px;
  padding: 0;
}


/* Header */

header {

  background: #3c3c3b;
  color: #f4f4f4;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #f4f4f4 3px solid;

}

header a {

  color: #f4f4f4;
  text-decoration: none;
  text-transform: none;
  font-size: 20px;

}


header li {

  float: left;
  display: inline;
  padding: 0 20px 0 20px;
  margin-right: 20px;

}

header #branding {

  float: left;

}

header #branding h1 {

  margin: 0;
}

header nav {

  float: right;
  margin-top: 10px;

}

header .highlight,
header .current a {

  color: #db3069;
  font-weight: normal;

}

header a:hover {

  color: #db3069;
  text-decoration: underline;

}

/* Intro */

section .container #intro {
  font-size: 35px;
  font-weight: bold;
}

/* Showcase */

#showcase {

  min-height: 510px;
  background: url("background.jpg")no-repeat;
  text-align: center;
  color: #f4f4f4;

}

#showcase h1 {

  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;

}

#showcase p {

  font-size: 20px;
}

/* About Page Styling */

/* Create two equal columns that floats next to each other */

.column1 {
  background: url("team.jpg")no-repeat;
  margin-top: 20px;
  margin-right: 10px;
  float: left;
  width: 49%;
  padding: 10px;
  height: 400px;
  box-sizing: border-box;
  visibility: hidden;
}

.column2 {
  margin-top: 20px;
  float: left;
  width: 49%;
  padding: 10px;
  height: 400px;
  box-sizing: border-box;
  visibility: hidden;
}

/* Clear floats after the columns */

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Button Styling */

#show {
  margin-top: 20px;
  margin-left: 300px;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
}

#show:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

#again {
  margin-top: 20px;
  margin-left: 500px;
  border: none;
  background: #404040;
  color: #ffffff !important;
  font-weight: 100;
  padding: 20px;
  text-transform: uppercase;
  border-radius: 6px;
  display: inline-block;
}

#again:hover {
  color: #404040 !important;
  font-weight: 700 !important;
  letter-spacing: 3px;
  background: none;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0, 0, 0, 0.57);
  transition: all 0.3s ease 0s;
}

/* Footer */

footer {

  padding: 15px;
  color: #f4f4f4;
  background-color: #db3069;
  text-align: center;
  border-top: #f4f4f4 3px solid;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}


/* Text alignment */

.center {
  text-align: center;
  margin: auto;
}

/* Items css */

#itemsContainer {
  width: 100%;
  text-align: center;
  background-color: #f4f4f4;

}


#itemsContainer h1 {
  display: block;
  color: #333;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;


}


.itemhols {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  display: inline-block;
  width: 22%;
  padding: 10px;
  min-height: 300px;

}


.itemhols h1 {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px
}


.itemhols p {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px
}



.itemholsIm {
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  display: block;

}


.button {
  background-color: #333;
  border-radius: 3px;
  color: #f4f4f4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.itemButton {
  background-color: #333;
  border-radius: 3px;
  color: #f4f4f4;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px 0 100px 20px;
  cursor: pointer;
}



/* Media Queries */

@media(max-width: 760px) {

  header #branding,
  header nav,
  header nav li {

    float: none;
    text-align: center;
    width: 100%
  }

  header {

    padding-bottom: 20px;

  }

  #showcase h1 {

    margin-top: 40px;

  }

}
